*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;     
}

@media screen and (max-width: 1100px){
      body{
            width: auto;
            height: 100vh;
            justify-content: space-around;
      }      
      .main{
            height: 30%;
      }
      .main h1{
            font-size: 120px;
      }
      .block a{
            font-size: 30px;
      }
      .container h1{
            font-size: 120px;
      }
}

@media screen and (max-width: 600px){
      body{
            width: auto;
            height: 100vh;
      }      
      .main{
            height: 30%;
      }
      .main h1{
            font-size: 80px;
      }
      .block {
            width: 100%;
      }.container h1{
            font-size: 30px;
      }
      #btnFull{
            display: none;
      }
}